# Ignore all files by default, but scan all directories
*
!*/

!*.gitignore
!*.gitattributes

!*.java
!*.txt
!*.md

# build files
!*.bat
!*.gradle
!*.jar
!*.properties
.gradle

# dragonspires' files
!*.conf
!*.domain
!*.name
!*.random
!*.mo
!*.nice
!*.ini
!*.dsmap
!*.log
!*.gif
!*.au

*/build
